/* COLORS */

$sidePanel: #5B605F;
$header-columnText: #4a4a49;
$buttons-screenHeaders-distinctions: #FF6600;
$screenBackgrounds: #FFFFFA;
$infoMSG: #3498DB;
$warningMSG: #FFB03B;
$successMSG: #468966; 
$bucket: #BD4932;
$tableText-functionIcons: #e4e4da;
$font-color-light:  #908b94;

/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

$textFont:'Open Sans', sans-serif;
$logoFont: 'Charmonman', cursive;

/*BACKGROUND*/

@import url(https://trello-attachments.s3.amazonaws.com/5f23c43ec31da531e5536fde/5f23c43ec31da531e5537050/500x500/ed2f365e11ad88dd5b526ced225c205a/image.png);

/*WIDTHS*/



